extends layout 

block content
    h1.m-3=title
    div.container.card-deck.row
        for item in items
            div.card.shadow-sm
                a.card-header(href=item.url)
                    div=item.name
                div.card-body
                    p.card-text=item.description
                    p $#{item.price}
        //- div.card
        //-     button.btn.btn-primary Add new item

