extends layout 

block content
    h1.m-0.p-0=title
    div.m-0.grid-container
        for item in items
            div.card.shadow-sm
                a.card-header(href=item.url)
                    div=item.name
                div.card-body
                    p.card-text=item.description
                    p $#{item.price}
        a.card(href=`/category/item/create`)
            button.btn.btn-primary Add new item

