extends layout

block content 
    h1=title
    p=item.description
    p=item.price
    div.d-flex
        a.btn.btn-primary(href=`${item.url}/update`) Edit
        a.btn.btn-danger(href=`${item.url}/delete`) Delete